doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shell Game
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Shell Game
    input#start-game(type='button' value='Start Game')
    br
    .abc
      #a A
      #b B
      #c C
    br
    #stats
