doctype html
html(lang='en')
  head
    title Odd and Even LIs
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    input#liCount(type='text')
    input#addLIs(type='button' value='Add LIs')
    ul#oddAndEven
