doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Select Generator
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Select Generator
    select
      option(value=0) default

    input#newColor(type='text' placeholder='Enter a color')
    input#addColor(type='button' value='Add a color to the menu')
