doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Inception Boxes
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Inception Boxes
    input#number(type='text')
    input#inception(type='button' value='Inception!')
    #boxes
