doctype html
html(lang='en')
  head
    title Color Addition
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    #controls
      input#colorInput(type='text', placeholder='red, green, blue')
      input#add-colors(type='button' value='Add colors')
    #colors
