doctype html
html(lang='en')
  head
    title Last Button Standing
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    input#click-me(type='button', value='Add 2 Buttons')
    #newbuttons
